# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
venv/
pip-log.txt
pip-delete-this-directory.txt
.env
*.env
env/

# Carpetas de la aplicación (archivos subidos y procesados)
uploads/
processed/

# Archivos de configuración local (si los tuvieras)
# local_settings.py

# IDE / Editor specific
.vscode/
.idea/
*.swp
*~